<div class="container">
  <h1>About this project</h1>
  <p>This application has been developed to practice Ruby on Rails by <a href="https://github.com/javialsal">me</a>.</p>
  <p>As a user, you'll be able to:</p>
  <ul>
    <li>Create an account.</li>
    <li>Remember or change your password.</li>
    <li>Link your account to your twitter.</li>
    <li>Schedule tweets to be posted at a specific time and day.</li>
    <li>Edit the content of tweets or modify their publication date before they are published.</li>
  </ul>
</div>
